# Prometheus Configuration
PROMETHEUS_IMAGE=prom/prometheus:v2.48.1
PROMETHEUS_CONTAINER_NAME=prometheus
PROMETHEUS_PORT=9090

# Grafana Configuration
GRAFANA_IMAGE=grafana/grafana:10.2.4
GRAFANA_CONTAINER_NAME=grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_THIS_STRONG_PASSWORD_32_CHARS_MIN
GRAFANA_PLUGINS=
GRAFANA_PORT=3000

# Versus Configuration
VERSUS_IMAGE=ghcr.io/versuscontrol/versus-incident:v1.0.0
VERSUS_CONTAINER_NAME=versus
VERSUS_PORT=8080

# Notification Configuration
SLACK_TOKEN=
SLACK_CHANNEL_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
