# TimescaleDB - Postgres Extension for Time-Series
TIMESCALEDB_IMAGE=timescale/timescaledb:2.13.1-pg15
TIMESCALEDB_CONTAINER_NAME=timescaledb
TIMESCALEDB_PORT=5432

# Database
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=CHANGE_THIS_STRONG_PASSWORD_32_CHARS_MIN

# Tuning profile: oltp | dw | promscale | ""
TS_TUNE_PROFILE=oltp
