# Minio Configuration
MINIO_IMAGE=minio/minio:RELEASE.2024-01-16T16-07-38Z
MINIO_CONTAINER_NAME=minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_THIS_STRONG_PASSWORD_32_CHARS_MIN
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

# Minio Client Configuration
MINIO_CLIENT_IMAGE=minio/mc:RELEASE.2024-01-16T16-06-34Z
MINIO_CLIENT_CONTAINER_NAME=minio-client
